        .bbs-nav-container {
            background-color: #f8f8f8;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            margin-bottom: 20px;
        }

        .bbs-nav-container a {
            text-decoration: none;
            display: inline-block;
            color: #777;
        }

        .bbs-nav-header {
            float: left;
        }

        .bbs-nav-header a {
            font-size: 30px;
            padding: 8px;
        }

        .bbs-nav-cell {

            display flex;
        }

        .bbs-navcell-item {
            display: inline-block;
            flex-grow: 1;
            height: 20px;
            font-size: 17px;
            padding: 15px;
        }
        .bbs-navcell-item:hover {
            background-color: #31044d;
        }