<!DOCTYPE html>
<html>
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta class="empyt" name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body>
    {% block body -%}
    {% block navbar %}
    <div>
        cbluo navbar base
    </div>
    {%- endblock navbar %}



    {% block content -%}
        <p>content base</p>
    {%- endblock content %}



    {%- endblock body %}

    {% block body1 -%}
        body2
    {% endblock %}



  </body>
</html>
