{% extends "bootstrap/base.html" %}

{% block styles%}
  <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/bbs.css')}}" rel="stylesheet">
{% endblock styles %}



{% block body %}

{% block topbar %}
<nav class="bbs-nav-container">
  <!--<div class="bbs-nav-header">-->
    <!--<a href="#">DU1-Forum</a>-->
  <!--</div>-->
  <div class="bbs-nav-cell" align="">
      <a class="bbs-navcell-item" href="/node/1">Home</a>
      <a class="bbs-navcell-item" href="#">WaterPool</a>
      <a class="bbs-navcell-item" href="#">Songs</a>

      <a class="bbs-navcell-item" href="/signin">Sign In</a>

  </div>
</nav>



{% endblock topbar %}




<div class="main">
{% block main %}


    <!--<div class="nodes">-->
      {% block nodes %}
      {% endblock nodes %}
    <!--</div>-->

    <!--<div class="sidebar bbs-box">-->
      {% block sidebar %}

      {% endblock sidebar %}
    <!--</div>-->


    <!--<div class="content bbs-box majorbar">-->
      {% block content %}
        {% block alert %}
        {% for message in get_flashed_messages() %}
        <div style="float: right;" class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% endblock alert %}
      {% endblock content %}
    <!--</div>-->

    <!--<div class="topic-post-container majorbar bbs-box">-->
      {% block topic_post %}
      {% endblock topic_post %}
    <!--</div>-->

{% endblock %}
</div>


{% block footer %}
  <div class="bottombar">
    <div class="bottom-content">
      <div class="bottom-nav">
        <a href="#">About</a>
        <span> . </span>
        <a href="#">Thanks</a>
        <span> . </span>
        <a href="#">FAQ</a>
        <span> . </span>
        <a href="#">7 online</a>
      </div>
    </div>
  </div>
{% endblock footer %}


{% block scripts %}
{{ super() }}
{%- endblock scripts %}



{% endblock body %}
