{% extends "mybase.html" %}

{% block title %}
nodes
{% endblock title %}

{% block nodes %}
<div class="nodes">
    <ul class="nav nav-pills">
        {% for n in node_list %}
        <li><a href="{{url_for('node_blue.show', id=n.id)}}">{{n.node_name}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock nodes %}


{% block content -%}
{{super()}}
<form action="{{url_for('.new')}}" method="post" class="form-inline" role="form">
    <div class="form-group">
        <input name="node_name" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">add</button>
</form>

{% for node in nodes%}
<div>
    <p>
        {{node.id}}:<a href="{{url_for('.show', id=node.id)}}">{{node.node_name}}</a>
        <a href="{{url_for('.remove', id=node.id)}}">del</a>
        <a href="{{url_for('.edit', id=node.id)}}">edit</a>
    </p>
</div>
{% endfor %}

{%- endblock content %}


{%- block sidebar %}
<div class="sidebar bbs-box">
    {% if user %}
    <h1>Hello! {{user.username}}</h1>
    {% else %}
    <h1>Hello! guest</h1>
    {% endif %}
    <a href="/login">Login</a>
</div>
{%- endblock sidebar %}


