{% extends "mybase.html" %}
{% import '_macro.html' as macro %}

{% block nodes %}
<div class="nodes">
    <ul class="nav nav-pills">
        {% for n in node_list %}
            {% if n==node %}
            <li><a class="cur_tag" href="{{url_for('node_blue.show', id=n.id)}}">{{n.node_name}}</a></li>
            {% else %}
            <li ><a href="{{url_for('node_blue.show', id=n.id)}}">{{n.node_name}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock nodes %}

    {% block content -%}
    <div class="content bbs-box majorbar">
        {{super()}}
        <div class="pagination">
            {{ macro.paging(pagination, 'node_blue.show', id=node.id) }}
        </div>

        <ul class="topics">
            {% for t in topics %}
            <li class="topic">
                <div class="topic-item-container">
                    <div class="topic-date"></div>
                    <a class="topic-cell-avatar" href="{{url_for('user_blue.profile', username=t.user_ref.username)}}">
                        <img class="bbs-avatar" src="{{t.user_ref.avatar}}" height="48" width="48">
                    </a>
                    <div class="topic-views"><strong>{{t.replycount}}&nbsp;/&nbsp;{{t.views}}</strong></div>
                    <div class="topic-list-cell">
                        <div class="topic-cell-title"><a href="{{url_for('topic_blue.show', id=t.id)}}">{{t.title}}</a></div>
                        <div class="topic-cell-info">
                            <strong><a href="{{url_for('user_blue.profile', username=t.user_ref.username)}}">{{t.user_ref.username}}</a></strong>
                            &nbsp;  •  &nbsp;
                            last updated by
                            <strong>
                                <a href="{{url_for('user_blue.profile', username=t.lastreplyer_ref.username)}}">
                                    {{t.lastreplyer_ref.username}}
                                </a>
                            </strong>
                            &nbsp;<time>{{t.lastreplytime}}</time>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {%- endblock content %}


    {% block topic_post %}
    <div class="topic-post-container majorbar bbs-box">
        <span class="label label-default">Share your idea:</span>
        <form role="form" action="{{url_for('topic_blue.new')}}" method="post">
            <div class="form-group">
                <input id="id-input-title" class="form-control" type="text" name="title" placeholder="title">
            </div>
            <div><input type="hidden" name="node_id" value="{{node.id}}"></div>
            <div>
                <textarea id="id-topic-content" class="form-control" rows="5" name="content" placeholder="content"></textarea>
            </div>
            <button id="id-topic-submit" class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>
    {%- endblock topic_post %}


    {%- block sidebar %}
    {{ super()}}
    {%- endblock sidebar %}


{% block scripts %}
{{ super() }}
<script src="/static/js/myjs-node.js"></script>
{%- endblock scripts %}